{% extends "wagtailadmin/base.html" %}
{% load wagtailadmin_tags i18n static %}

{% block extra_css %}
	{{ block.super }}
	<style>
	
	</style>
{% endblock %}

{% block content %}
{% include "wagtailadmin/shared/header.html" with title="Customers Reviews" icon="date" %}
<div class="container">
	<div class="row">
		<div class="col-12">
		<h1>Name Message Ratings Date</h2>
			{% for review in reviews %}
				{{ review.name|title }}
				{{ review.message }}
				{{ review.ratings }}
				{{ review.date_submitted }}
				<hr/>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock content %}