{% extends "wagtailadmin/base.html" %}
{% load wagtailadmin_tags i18n static %}

{% block titletag %}
Reviews
{% endblock %}

{% block extra_css %}
	{{ block.super }}
	<style>
		th, td {
			padding: 12px;
			text-align: left;
		}
	
	</style>
{% endblock %}

{% block content %}
{% include "wagtailadmin/shared/header.html" with title="Customers Reviews" icon="date" %}
<div class="nice-padding">
	<div class="row">
		<div class="col-12">
		<table>
			<tr>
				<th>Name</th>
				<th>Message</th>
				<th>Ratings</th>
				<th>Date</th>
				<th>Picture</th>
			</tr>
			{% for review in reviews %}
			<tr>
				<td>{{ review.name|title }}</td>
				<td>{{ review.message|truncatewords:15|safe }}</td>
				<td>{{ review.ratings }}</td>
				<td>{{ review.date_submitted }}</td>
				{% if review.picture %}
				<td>
				<img style="max-width: 75px; max-height: 75px;" src="{{ review.picture.url }}">
				</td>
				{% endif %}
			</tr>
			{% endfor %}
		</table>
		</div>
	</div>
</div>

{% endblock content %}