{% load static wagtailimages_tags wagtailcore_tags wagtailuserbar menu_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
	<title>
            {% block title %}
                {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title|title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% wagtail_site as current_site %}
                {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
    </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
	{% block meta_description %}
	{% if page.search_description %}
    <meta content="{{ page.search_description }}" name="description">
	{% endif %}
	{% endblock meta_description %}
	
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
	
	<style>
	{% block style %}
	
	{% endblock style %}
	</style>
	
	<!-- Other links -->
	{{ settings.site_settings.SiteSettings.links }}
	
	<!-- Favicon -->
	{% if settings.site_settings.SiteSettings.site_logo %}
		{% image settings.site_settings.SiteSettings.site_logo max-30x30 as icon_image %}
		<link rel="shortcut icon" href="{{ icon_image.url }}" />
	{% endif %}
	
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <div class="container-fluid bg-light p-0 mb-4">
        <div class="row gx-0 d-none d-lg-flex">
            <div class="col-lg-7 px-5 text-start">
				{% if settings.site_settings.SiteSettings.shop_address %}
                <div class="h-100 d-inline-flex align-items-center">
                    <small class="fa fa-map-marker-alt text-primary"></small>
                    <small>{{ settings.site_settings.SiteSettings.shop_address }}</small>
                </div>
				{% endif %}
				{% if settings.site_settings.SiteSettings.time_and_date %}
                <div class="h-100 d-inline-flex align-items-center">
                    <small class="far fa-clock text-primary "></small>
                    <div>{{ settings.site_settings.SiteSettings.time_and_date|richtext|safe }}</div>
                </div>
				{% endif %}
            </div>
            <div class="col-lg-5 px-5 text-end">
				{% if settings.site_settings.SiteSettings.phone_no %}
                <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                    <small class="fa fa-phone-alt text-primary me-2"></small>
                    <small>{{ settings.site_settings.SiteSettings.phone_no }}</small>
                </div>
				{% endif %}
                <div class="h-100 d-inline-flex align-items-center">
                    {% if settings.site_settings.SocialMediaSettings.facebook  %}<a class="btn btn-sm-square bg-white text-primary me-1" href="{{ settings.site_settings.SocialMediaSettings.facebook  }}"><i class="fab fa-facebook-f"></i></a>{% endif %}
                    {% if settings.site_settings.SocialMediaSettings.twitter  %}<a class="btn btn-sm-square bg-white text-primary me-1" href="{{ settings.site_settings.SocialMediaSettings.twitter  }}"><i class="fab fa-twitter"></i></a>{% endif %}
                    {% if settings.site_settings.SocialMediaSettings.linkedin  %}<a class="btn btn-sm-square bg-white text-primary me-1" href="{{ settings.site_settings.SocialMediaSettings.linkedin  }}"><i class="fab fa-linkedin-in"></i></a>{% endif %}
                    {% if settings.site_settings.SocialMediaSettings.instagram  %}<a class="btn btn-sm-square bg-white text-primary me-0" href="{{ settings.site_settings.SocialMediaSettings.instagram  }}"><i class="fab fa-instagram"></i></a>{% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
		{% if settings.site_settings.SiteSettings.show_title_in_menu_bar %}
		{% if settings.site_settings.SiteSettings.site_name  %}
        <a href="/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h4 class="m-0 text-primary">{{ settings.site_settings.SiteSettings.site_name  }}</h4>
        </a>
		{% endif %}
		{% endif %}
		{% if settings.site_settings.SiteSettings.show_in_menu_bar %}
		{% image settings.site_settings.SiteSettings.site_logo max-100x100 as icon_image %}
		<a href="/" class="navbar-brand d-flex align-items-center px-4 px-lg-5"><img src="{{ icon_image.url }}" alt="{{ settings.site_settings.SiteSettings.site_name }}" class="img-fluid"></a>
		{% endif %}
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
		
		{% main_menu add_sub_menus_inline=True template="menu/main_menu.html" %}
    </nav>
    <!-- Navbar End -->
	
{% block content %}


{% endblock content %}
<!-- Footer Start -->
 {% wagtailuserbar 'bottom-left' %}
    <div class="container-fluid bg-dark text-light footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
				{% if settings.site_settings.SiteSettings.shop_address %}
                <div class="col-lg-4 col-md-6">
                    <h4 class="text-light mb-4">Address</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>{{ settings.site_settings.SiteSettings.shop_address }}</p>
				{% endif %}
                    {% if settings.site_settings.SiteSettings.phone_no %}<p class="mb-2"><i class="fa fa-phone-alt me-3"></i>{{ settings.site_settings.SiteSettings.phone_no }}</p>{% endif %}
                    {% if settings.site_settings.SiteSettings.email %}<p class="mb-2"><i class="fa fa-envelope me-3"></i>{{ settings.site_settings.SiteSettings.email }}</p>{% endif %}
                    <div class="d-flex pt-2">
						{% if settings.site_settings.SocialMediaSettings.twitter  %}
                        <a class="btn btn-outline-light btn-social" href="{{ settings.site_settings.SocialMediaSettings.twitter }}"><i class="fab fa-twitter"></i></a>
						{% endif %}
						{% if settings.site_settings.SocialMediaSettings.facebook  %}
                        <a class="btn btn-outline-light btn-social" href="{{ settings.site_settings.SocialMediaSettings.facebook }}"><i class="fab fa-facebook-f"></i></a>
						{% endif %}
						{% if settings.site_settings.SocialMediaSettings.pinterest %}
                        <a class="btn btn-outline-light btn-social" href="{{ settings.site_settings.SocialMediaSettings.pinterest }}"><i class="fab fa-pinterest"></i></a>
						{% endif %}
						{% if settings.site_settings.SocialMediaSettings.linkedin  %}
                        <a class="btn btn-outline-light btn-social" href="{{ settings.site_settings.SocialMediaSettings.linkedin }}"><i class="fab fa-linkedin-in"></i></a>
						{% endif %}
                    </div>
                </div>
				<div class="col-lg-4 col-md-6">
				{% flat_menu template="menu/flat_menu.html" handle="footer" %}
				</div>
				<div class="col-lg-4 col-md-6">
				{% flat_menu template="menu/flat_menu.html" handle="services" %}
				</div>
            </div>
        </div>
	</div>
		{% if settings.site_settings.SiteSettings.place_id %}
		<div class="container-fluid">
            <div class="row">
				<div class="col-12">
					<iframe class="embed-responsive-item" width="100%" height="400px" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:{{ settings.site_settings.SiteSettings.place_id }}&zoom={{ settings.site_settings.SiteSettings.map_zoom_level }}&key={{ settings.site_settings.SiteSettings.api_key }}" title="{{ settings.site_settings.SiteSettings.map_title }}" allowfullscreen></iframe>
					</div>
			</div>
		</div>
		{% else %} 
		<div class="container-fluid">
            <div class="row">
				<div class="col-12">
					<iframe class="embed-responsive-item" width="100%" height="400px" src="https://maps.google.com/maps?q={{ settings.site_settings.SiteSettings.search|urlencode }}&output=embed" title="{{ settings.site_settings.SiteSettings.map_title }}" allowfullscreen></iframe> 
				</div>
			</div>
		</div>
		{% endif %}
        <div class="container">
            <div class="copyright">
				{% if settings.site_settings.SiteSettings.site_name  %}
                <div class="row">
                    <div class="col-12 text-center text-md-start mb-3 mb-md-0">
                        &copy; {% now 'Y' %}, <a class="border-bottom" href="/">{{ settings.site_settings.SiteSettings.site_name  }}</a>, All Rights Reserved.
                    </div>
                </div>
				{% endif %}
            </div>
        </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-0 back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>