{% extends "main.html" %}
{% load wagtailcore_tags wagtailimages_tags get_reviews %}

{% block style %}

{% endblock style %}

{% block content %}


    <!-- Page Header Start -->
	{% image page.image original as photo %}
    <div class="container-fluid py-5 mb-5" style="background: linear-gradient(rgba(53, 53, 53, .7), rgba(53, 53, 53, .7)), url({{ photo.url }}) center center no-repeat; background-size: cover;">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">{{ page.title|title }}</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-white" href="/">Home</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">{{ page.title|title }}</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="section-title text-center">
                <h1 class="display-5 mb-5">Our {{ page.title|title }}</h1>
            </div>
            <div class="row g-4">
               {% for service in services %}
	<div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item">
					{% for block in service.images %}
						{% if block.block_type == 'photos' %}
							{% image block.value.images.0 original as photo %}
							<div class="overflow-hidden">
								<img class="img-fluid" src="{{ photo.url }}" alt="{{ photo.alt }}">
							</div>
						{% endif %}
					
					{% endfor %}
                        <div class="p-4 text-center border border-5 border-light border-top-0">
                            <h4 class="mb-3">{{ service.service_title|title }}</h4>
                            <p>{{ service.description|richtext|safe|truncatewords:25 }}</p>
                            <a class="fw-medium" href="{{ service.url }}">Find Out<i class="fa fa-arrow-right ms-2"></i></a>
                        </div>
                    </div>
                </div>
{% endfor %}
</div> 


{% if services.paginator.num_pages > 1 %}
		<div class="container">
		<div class="row">
		<div class="col-lg-12">
		<div class="pagination justify-content-center mt-3 mb-3">
		{% if services.has_previous %}
		<li class="page-item">
		<a href="?page={{ services.previous_page_number }}" class="page-link">
		<span>&laquo;</span>
		</a>
		</li>
		{% endif %}
		
		{% for page_num in services.paginator.page_range %}
		<li class="page-item {% if page_num == services.number %} active{% endif %}">
		<a href="?page={{ page_num }}" class="page-link">
		{{ page_num }}
		</a>
		</li>
		{% endfor %}
		
		{% if services.has_next %}
		<li class="page-item">
		<a href="?page={{ services.next_page_number }}" class="page-link">
		<span>&raquo;</span>
		</a>
		</li>
		{% endif %}
		</div>
		</div>
		</div>
		</div>
		{% endif %}

</div>
</div>

    
{% get_the_latest_five_reviews %}

{% endblock content %}