{% load wagtailcore_tags wagtailimages_tags %}

<!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
			{% if services %}
            <div class="section-title text-center">
                <h1 class="display-5 mb-5">What we offer</h1>
            </div>
			{% endif %}
            <div class="row g-4">
			{% for service in services %}
                <div class="col-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item">
						{% for block in service.images %}
						{% if block.block_type == 'photos' %}
							{% image block.value.images.0 original as img %}
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{{ img.url }}" alt="{{ img.alt }}">
                        </div>
						{% endif %}
						{% endfor %}
                        <div class="p-4 text-center border border-5 border-light border-top-0">
                            <h4 class="mb-3">{{ service.title|title }}</h4>
								<a class="fw-medium" href="{{ service.url }}">{% if service.button_text %}{{ service.button_text }} {% else %} Find Out {% endif %}
								<i class="fa fa-arrow-right ms-2"></i></a>
                        </div>
                    </div>
                </div>
			{% endfor %}
            </div>
        </div>
    </div>
			