{% extends "main.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block style %}

{% endblock style %}

{% block content %}


    <!-- Page Header Start -->
    <div class="container-fluid mt-5">
        <div class="container">
            <h1 class="display-3 mb-3 animated slideInDown">{{ page.title|title }}</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ page.title|title }}</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
		<div>{{ page.intro|richtext }}</div>
            <div class="section-title text-center">
                <h1 class="display-5 mb-5">Our {{ page.title|title }}s</h1>
            </div>
            <div class="row g-4">
               {% for service in works %}
	<div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item">
					{% for block in service.images %}
						{% if block.block_type == 'photos' %}
							{% image block.value.images.0 original as photo %}
							<div class="overflow-hidden">
								<img class="img-fluid" src="{{ photo.url }}" alt="{{ photo.alt }}">
							</div>
						{% endif %}
					
					{% endfor %}
                        <div class="p-4 text-center border border-5 border-light border-top-0">
                            <h4 class="mb-3">{{ service.service_title }}</h4>
                            <p>{{ service.description|richtext|safe|truncatewords:25 }}</p>
							<p>Made by: {{ service.owner|title }}</p>
                            <a class="fw-medium" href="{{ service.url }}">Find Out<i class="fa fa-arrow-right ms-2"></i></a>
                        </div>
                    </div>
                </div>
{% endfor %}
</div> 


{% if works.paginator.num_pages > 1 %}
		<div class="container">
		<div class="row">
		<div class="col-lg-12">
		<div class="pagination justify-content-center mt-3 mb-3">
		{% if works.has_previous %}
		<li class="page-item">
		<a href="?page={{ works.previous_page_number }}" class="page-link">
		<span>&laquo;</span>
		</a>
		</li>
		{% endif %}
		
		{% for page_num in works.paginator.page_range %}
		<li class="page-item {% if page_num == works.number %} active{% endif %}">
		<a href="?page={{ page_num }}" class="page-link">
		{{ page_num }}
		</a>
		</li>
		{% endfor %}
		
		{% if works.has_next %}
		<li class="page-item">
		<a href="?page={{ works.next_page_number }}" class="page-link">
		<span>&raquo;</span>
		</a>
		</li>
		{% endif %}
		</div>
		</div>
		</div>
		</div>
		{% endif %}

</div>
</div>

    


    <!-- Testimonial Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="section-title text-center">
                <h1 class="display-5 mb-5">Testimonial</h1>
            </div>
            <div class="owl-carousel testimonial-carousel">
                <div class="testimonial-item text-center">
                    <img class="img-fluid bg-light p-2 mx-auto mb-3" src="img/testimonial-1.jpg" style="width: 90px; height: 90px;">
                    <div class="testimonial-text text-center p-4">
                        <p>Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed. Magna ut diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at rebum justo sea clita.</p>
                        <h5 class="mb-1">Client Name</h5>
                        <span class="fst-italic">Profession</span>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="img-fluid bg-light p-2 mx-auto mb-3" src="img/testimonial-2.jpg" style="width: 90px; height: 90px;">
                    <div class="testimonial-text text-center p-4">
                        <p>Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed. Magna ut diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at rebum justo sea clita.</p>
                        <h5 class="mb-1">Client Name</h5>
                        <span class="fst-italic">Profession</span>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="img-fluid bg-light p-2 mx-auto mb-3" src="img/testimonial-3.jpg" style="width: 90px; height: 90px;">
                    <div class="testimonial-text text-center p-4">
                        <p>Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed. Magna ut diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at rebum justo sea clita.</p>
                        <h5 class="mb-1">Client Name</h5>
                        <span class="fst-italic">Profession</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

{% endblock content %}