{% extends "main.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags get_service %}

{% block content %}


    <!-- Page Header Start -->
	
	{% for block in page.body %}
						{% if block.block_type == 'wide_image' %}
						{% image block.value.image.0 original as photo %}
							
								<div class="col-sm-12 col-md-6">
								
										<img class="img-fluid" src="{{ photo.url }}" alt="{{ photo.alt }}">
									
								</div>
							
						{% endif %}
				{% endfor %}
	{% for photo in page.screenshots.0 %}
	{% image photo.image original as photo %}
	<div class="container-fluid py-5 mb-5" style="background: linear-gradient(rgba(53, 53, 53, .7), rgba(53, 53, 53, .7)), url({{ photo.url }}) center center no-repeat; background-size: cover;">
	{% endfor %}
        <div class="container py-5">
            {% if page.get_parent.specific.title == 'Home' %}
			<h1 class="display-3 text-white mb-3 animated slideInDown">Services</h1>
			{% else %}
			<h1 class="display-3 text-white mb-3 animated slideInDown">{{ page.get_parent.specific.title|title }}</h1>
			{% endif %}
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-white" href="/">Home</a></li>
					{% if page.get_parent.specific.title == 'Home' %}
                    <li class="breadcrumb-item"><a class="text-white" href="{{ service.url }}">Services</a></li>
					{% else %}
					<li class="breadcrumb-item"><a class="text-white" href="{{ page.get_parent.specific.url }}">{{ page.get_parent.specific.title|title }}</a></li>
					{% endif %}
					<li class="breadcrumb-item text-white active" aria-current="page">{{ page.title|title }}</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row">
				<div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
					<h5>Created by:
						{% if author_details.owner.wagtail_userprofile.avatar %}
						<img class="img-fluid bg-light p-2 mx-auto mb-3" src="{{ author_details.owner.wagtail_userprofile.avatar.url }}" alt="{{ author_details.owner.get_full_name }}" style="border-radius: 50%; width: 60px; height: 60px;">
						{% else %}
						<i class="fa fa-user"></i>
						{% endif %}
						<a href="{% routablepageurl page "author_works" %}"> {{ page.owner|title }}</a></h5>
                            {{ page.body }}
                </div>
                </div>
				
				<div class="row text-center mt-5">
					{% for photo in page.screenshots.all %}
					<div class="col-sm-12 col-md-6 col-lg-4 mb-5">
						{% image photo.image original as img %}
							<img src="{{ img.url }}" alt="{{ img.alt }}">
					</div>
					{% endfor %}
				</div>
				
			</div>
		</div>
	</div>
	
	
	<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
			<div class="row">
				{% if author_details.owner.wagtail_userprofile.avatar %}
				<div class="col-md-4 text-center">
                    <img class="img-fluid bg-light p-2 mx-auto mb-3" src="{{ author_details.owner.wagtail_userprofile.avatar.url }}" alt="{{ author_details.owner.get_full_name }}" style="border-radius: 50%; width: 100px; height: 100px;">
				</div>
				{% else %}
				<div class="col-md-4 text-center">
					<i class="fa fa-user fa-5x"></i>
				</div>
				{% endif %}
				<div class="col-md-8 text-center">
					<h5 class="mb-1">Name: {{author_details.owner.last_name|title}} {{author_details.owner.first_name|title}}</h5>
                        <p>Date Joined: {{ author_details.owner.profile.date_joined }}</p>
                        <p class="fst-italic">Bio: {{ author_details.owner.bio }}</p>
				</div>
			</div>
			
			{% if author_works %}
            <div class="section-title text-center">
                <h1 class="display-5 mb-5">More Works by {{author_details.owner.first_name|title}}</h1>
            </div>
			{% for service in author_works %}
				<div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item">

                        <div class="p-4 text-center border border-5 border-light border-top-0">
                            <h4 class="mb-3">{{ service.title|title }}</h4>
							{% for item in service.body %}
								{% if item.block_type == 'paragraph' %}
									<div class="mb-4 pb-2">{{item.value|richtext|safe|truncatewords:30}}</div>
								{% endif %}
								{% if item.block_type == 'wide_image' %}
									{% image item.value.images.0 original as photo %}
									<div class="overflow-hidden">
										<img class="img-fluid" src="{{ photo.url }}" alt="{{ photo.alt }}">
									</div>
								{% endif %}
							{% endfor %}
                            <a class="fw-medium" href="{{ service.url }}">Find Out<i class="fa fa-arrow-right ms-2"></i></a>
                        </div>
                    </div>
                </div>
			{% endfor %}
			{% endif %}
        </div>
    </div>

	
	{% get_service %}

{% endblock content %}