{% extends "main.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags get_service %}

{% block content %}

    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row">
				<div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
					<h5>Created by:
						{% if author_details.owner.wagtail_userprofile.avatar %}
						<img class="img-fluid bg-light p-2 mx-auto mb-3" src="{{ author_details.owner.wagtail_userprofile.avatar.url }}" alt="{{ author_details.owner.get_full_name }}" style="border-radius: 50%; width: 60px; height: 60px;">
						{% else %}
						<i class="fa fa-user"></i>
						{% endif %}
						<a href="{% routablepageurl page 'author_works' %}"> {{ page.owner|title }}</a></h5>
                            {{ page.body }}
                </div>
                </div>
				
				
	<div class="container-fluid p-0 pb-5">
        <div class="owl-carousel header-carousel position-relative">
			{% for slide in page.screenshots.all %}
				{% image slide.image original as img %}
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="{{ img.url }}" alt="{{ img.alt }}">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center">
				 <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-8 text-center">
							<a class=" btn-outline-light mx-1 text-center py-md-3 px-md-5 me-3" href="{{ img.url }}" data-lightbox="portfolio"><i class="fa-3x fa fa-eye"></i></a>
						</div>
					</div>
				</div>
                </div>
            </div>
			{% endfor %}
		</div>
	</div>
				
			</div>
		</div>
	</div>
	
	
	<div class="container mb-5">
	<div class="row gx-5">
		<div class="col-md-1"></div>
		<div class="col-md-8 col-md-offset-2">
			<div class="mainheading">
				<div class="row g-5 post-top-meta authorpage">
					{% if author_details.owner.wagtail_userprofile.avatar %}
					<div class="col-md-2 col-xs-12 text-center">
						<img class="mt-5 author-thumb" src="{{ author_details.owner.wagtail_userprofile.avatar.url }}" alt="{{ author_details.owner.get_full_name }}" style="border-radius: 50%; width: 100px; height: 100px;">
					</div>
					{% else %}
					<div class="col-md-2 col-xs-12 text-center">
						<i class="mt-5 fa fa-user fa-5x"></i>
					</div>
					{% endif %}
					<div class="col-md-10 col-xs-12">
						<h1 class="mb-3 text-center">{{author_details.owner.last_name|title}} {{author_details.owner.first_name|title}}</h1>
						{% if author_details.owner.profile.date_joined %}<p>Date Joined: {{ author_details.owner.profile.date_joined }}</p>{% endif %}
                        {% if author_details.owner.bio %}<span class="author-description">Bio: {{ author_details.owner.bio }}</span>{%endif %}
						<div class="sociallinks mt-3">
						<a target="_blank" class="btn btn-primary btn-social" href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                        <a target="_blank" class="btn btn-primary btn-social" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                        <a target="_blank" class="btn btn-primary btn-social" href="https://www.pinterest.com/"><i class="fab fa-pinterest"></i></a>
                        <a target="_blank" class="btn btn-primary btn-social" href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	
	<div class="container-xxl wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
			
			{% if author_works %}
            <div class="section-title text-center">
                <h1 class="display-5 mb-5">More Works by {{author_details.owner.first_name|title}}</h1>
            </div>
			{% for service in author_works %}
				<div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item">

                        <div class="p-4 text-center border border-5 border-light border-top-0">
                            <h4 class="mb-3">{{ service.title|title }}</h4>
							{% for item in service.body %}
								{% if item.block_type == 'paragraph' %}
									<div class="mb-4 pb-2">{{item.value|richtext|safe|truncatewords:30}}</div>
								{% endif %}
								{% if item.block_type == 'wide_image' %}
									{% image item.value.images.0 original as photo %}
									<div class="overflow-hidden">
										<img class="img-fluid" src="{{ photo.url }}" alt="{{ photo.alt }}">
									</div>
								{% endif %}
							{% endfor %}
                            <a class="fw-medium" href="{{ service.url }}">Find Out<i class="fa fa-arrow-right ms-2"></i></a>
                        </div>
                    </div>
                </div>
			{% endfor %}
			{% endif %}
        </div>
    </div>

	
	{% get_service %}

{% endblock content %}