{% load wagtailcore_tags wagtailimages_tags %}

<div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
			{% for attribute in self.attributes %}
                <div class="col-md-6 col-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                    <div class="d-flex align-items-center justify-content-between mb-2">
						{% if attribute.icon == 'i5' %}
						<div class="d-flex align-items-center justify-content-center bg-light" style="width: 60px; height: 60px;">
                            <i class="fa fa-user-check fa-2x text-primary"></i>
						</div>
						{% elif attribute.icon == 'i4' %}
						<div class="d-flex align-items-center justify-content-center bg-light" style="width: 60px; height: 60px;">
							<i class="fa fa-drafting-compass fa-2x text-primary"></i>
						</div>
						{% elif attribute.icon == 'i2' %}
						<div class="d-flex align-items-center justify-content-center bg-light" style="width: 60px; height: 60px;">
							<i class="fa fa-headphones fa-2x text-primary"></i>
						</div>
						{% elif attribute.icon == 'i3' %}
						<div class="d-flex align-items-center justify-content-center bg-light" style="width: 60px; height: 60px;">
							<i class="fa fa-check fa-2x text-primary"></i>
						</div>
						{% elif attribute.icon == 'i6' %}
						<div class="d-flex align-items-center justify-content-center bg-light" style="width: 60px; height: 60px;">
							<i class="fa fa-arrow-right fa-2x text-primary"></i>
						</div>
						{% endif %}
                        <h1 class="display-1 text-light mb-0">{{ attribute.block_by_name }}</h1>
					</div>
                    <h5>{{ attribute.text }}</h5>
				 </div>
			{% endfor %}
            </div>
     </div>
 </div>