{% extends "main.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}

{% image page.image width-1280 as image %}

    {% include "patterns/molecules/title-block/title-block.html" with item=page meta=page.role %}

    <div class="team-member team-member--full">
        <div class="team-member__container">
            <img class="team-member__shard" aria-hidden="true" 
            <img class="team-member__image" src="{{ image.url}}" alt="{{ image.alt }}" height="{{ image.height }}" width={{ image.width }}>
        </div>

        <div class="team-member__bio">
            {% include_block page.body %}
        </div>
        <div class="team-member__bio-container">
            <div class="team-member__intro">
                {{ page.intro|richtext }}
            </div>
            <div class="team-member__bio">
                {{ page.biography|richtext }}
            </div>
        </div>
    </div>

    {% if page.author_posts %}
        <div class="blog-listing" id="thinking">
            <div class="blog-listing__content">
                {% include "patterns/atoms/section-title/section-title.html" with title="More of "|add:page.title.split.0|add:"'s thinking" %}
                <div class="blog-listing__list blog-listing__list--horizontal {% if page.related_works %} u--pb-0 {% endif %}">
                    {% for post in page.author_posts %}
                        {% if forloop.first %}
                            <div class="blog-listing__feature">
                                {% include "patterns/molecules/blog-item/blog-item.html" with item=post %}
                            </div>
                        {% else %}
                            {% include "patterns/molecules/blog-item/blog-item.html" with item=post %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    {% if page.related_works %}
        <div class="page__showcase">
            <div class="related-content">
                {% include "patterns/atoms/section-title/section-title.html" with title="More of "|add:page.title.split.0|add:"'s work" %}
                <div class="related-content__list">
                    {% include "patterns/organisms/work-listing/work-listing.html" with works=page.related_works %}
                    {% pageurl page.work_index as work_index_url %}
                    {% include "patterns/atoms/see-more/see-more.html" with link=work_index_url text="See more case studies" %}
                </div>
            </div>
        </div>
    {% endif %}

    {% include_block page.call_to_action %}

{% endblock %}
